body {
  position:relative;
  color: black;
  font-size: 15px;
  font-family: 'Kumbh', sans-serif;
  text-align: center;
  background-color:white;
  margin: 0px;
  padding: 0px;
  overflow-x: hidden;
  justify-content: center;
  margin-left: 10%;
  margin-right: 10%;
}

.all {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  background-color: white;
  margin: 0px;
  padding: 0px;
}

h2 {
  font-size: 30px;
}
h3 {
  font-size: 20px;
  font-weight: normal;
}
section {
  position: relative;
  justify-content: space-between;
  text-align: left;
  display: flex;
  flex-direction: row;
}

.leftside {
  position: relative;
  width:47%;
}
.rightside {
  position: relative;
  width:47%;
}

.ftext {
  position: relative;
  text-align: right;
  /* padding: 10px; */
  width: 45%;
  height: auto;
  font-size: 15px;
  line-height: 20px;
}

.fimage {
  position: relative;
  top:0px;
  padding: 0px;
  margin: 0px;
  max-width:100vw;
}

.credit {
  font-size: 12px;
  position: fixed;
  top: 10px;
  left: 20px;
  color: darkgrey;
  font-style: italic;
  text-align: left;
  z-index: 100
}

img {
  position: relative;
  width: 100%;
}




::-webkit-scrollbar {
  width: 10px;
}
::-webkit-scrollbar-track {
  background: black;
}
::-webkit-scrollbar-thumb {
  background: gray;
}
::-webkit-scrollbar-thumb:hover {
  background: white;
}

@media only screen and (max-width: 1000px) {
 body {
   margin-left: 5%;
   margin-right: 5%;
 }

  }

@media only screen and (min-width: 1500px) {
   body {
     margin-left: 20%;
     margin-right: 20%;
   }

    }
