body {
  position:relative;
  color: blue;
  font-size: 15px;
  font-family: 'Courier', sans-serif;
  font-weight: bold;
  text-align: center;
  background-color:white;
  margin: 0px;
  padding: 0px;
  overflow-x: hidden;
  justify-content: center;
  line-height: 0px;
}

.all {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  background-color: white;
  margin: 0px;
  padding: 0px;
}
/* .full {
  position: relative;
  justify-content: center;
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  width: 100%;
  margin: 20px;
  margin-top: 5px;
  height: 100vh; */
}
.ftext {
  position: relative;
  text-align: right;
  /* padding: 10px; */
  width: 45%;
  height: auto;
  font-size: 15px;
  line-height: 20px;
}

.fimage {
  position: relative;
  top:0px;
  padding: 0px;
  margin: 0px;
  max-width:100vw;
}

.credit {
  font-size: 12px;
  position: fixed;
  top: 10px;
  left: 20px;
  color: darkgrey;
  font-style: italic;
  text-align: left;
  z-index: 100;
  line-height: normal;
}

img {
  position: relative;
  padding: 0px;
  margin: 0px;
}
div {
  position: relative;
  padding: 0px;
  margin: 0px;
}

#float1 {
  position: fixed;
  width:25%;
  bottom:0px;
  left:0px;
  z-index: 10;
}
#float2 {
  position: fixed;
  width:30%;
  bottom:0px;
  right:0px;
  z-index: 10;
}
#float3 {
  position: fixed;
  width:10%;
  top:5%;
  right:0px;
  z-index: 10;
}
#float4 {
  position: fixed;
  width:40%;
  top:0%;
  right:0px;
  z-index: 10;
}
#float5 {
  position: fixed;
  width:30%;
  bottom:-5%;
  left:-5%;
  z-index: 10;
}
#float6 {
  position: fixed;
  width:17%;
  height: auto;
  bottom:-20%;
  right:-10%;
  z-index: 10;
  transform: rotateX(180deg);
}

/* .diamond {
  position: absolute;
  left: 50vw;
  margin-left: -13.5vw;
  bottom: 50%;
  margin-bottom: -15vw;
  z-index: 20;
  width: 25vw;
  height: auto;
  animation-name: diabounce;
  animation-duration: 5s;
  animation-iteration-count: infinite;
}
@keyframes diabounce {
  0% {transform: rotate(-10deg) ;}
  50% {transform: rotate(10deg) ;}
  100% {transform: rotate(-10deg) ;}
} */

.gif0 {
  position: absolute;
  z-index: 30
}
.gif1 {
  position: absolute;
  left: 0vw;
  bottom: 0vh;
  width: 30vh;
}

a {
  color: darkgrey;
  font-style: normal;
  font-family: "Courier";
  font-weight: bold;
}

@keyframes spinny1 {
  from {
  transform: rotate(0deg);
}
to {
  transform: rotate(359deg);
}}

.link {
  color: orange;
  font-style: normal;
  font-family: "Courier";
  font-weight: bold;
    background-color: white;
}

::-webkit-scrollbar {
  width: 10px;
}
::-webkit-scrollbar-track {
  background: black;
}
::-webkit-scrollbar-thumb {
  background: gray;
}
::-webkit-scrollbar-thumb:hover {
  background: white;
}

@media only screen and (max-width: 800px) {
    /* .full {
      position: relative;
      height:auto;
    } */


  }
