body {
  position:relative;
  color: orange;
  font-size: 15px;
  font-family: 'Courier', sans-serif;
  font-weight: bold;
  text-align: center;
  background-color:black;
}

.pics {
  position: relative;
  justify-content: space-between;
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}

img {

}
.all {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
}
.full {
  position: relative;
  justify-content: space-between;
  align-items: center;
  width: 49%;
  margin: 5px;
  padding: 0px;
  height: auto;
  min-width: 400px;
}
.fimage {
  position: relative;
  width: 100%;
  height: auto;
}

.diamond {
  position: absolute;
  left: 50vw;
  margin-left: -13.5vw;
  bottom: 50%;
  margin-bottom: -15vw;
  z-index: 50;
  width: 25vw;
  height: auto;
  animation-name: diabounce;
  animation-duration: 5s;
  animation-iteration-count: infinite;
}
@keyframes diabounce {
  0% {transform: rotate(-10deg) ;}
  50% {transform: rotate(10deg) ;}
  100% {transform: rotate(-10deg) ;}
}

.gif0 {
  position: absolute;
  z-index: 10
}
.gif1 {
  position: absolute;
  left: 0vw;
  bottom: 0vh;
  width: 30vh;
}
.gif2 {
  position: absolute;
  right: 0vw;
  bottom: 0vh;
  width: 30vh;
}

.text {
    text-align: center;
    overflow-x: hidden;
}

p {
  margin: 20px;
  padding: 20px;
  font-size: 17px;
  font-weight: normal;
}

a {
  color: white;
  font-style: normal;
  font-family: "Courier";
  font-weight: bold;
}

@keyframes spinny1 {
  from {
  transform: rotate(0deg);
}
to {
  transform: rotate(359deg);
}}

.link {
  color: orange;
  font-style: normal;
  font-family: "Courier";
  font-weight: bold;
    background-color: white;
}
