body {
  color: white;
  font-size: 25px;
  text-align: center;
  background-image: linear-gradient(90deg,red,blue,blue,blue,red);
  font-family: 'Ubuntu';
}

p {
  font-family: 'Ubuntu';
  font-style: italic;
}

h1 {
  background-image: linear-gradient(to right, rgba(57, 194, 218, 0), rgba(255, 0, 0, 1) 50%, rgba(57, 194, 218, 0));
  position: sticky;
  font-size: 50px;
  top: 0px;
  width: 100%;
  padding: 20px;
  font-style: normal;
  font-weight: normal;
  align-content: center;
  font-family: 'Gravitas One';
}

#dropdown {
    width: 100%;
    height: auto;
    padding-top: 10px;
    text-align: center;
}

.contain1 {
  position: relative;
  width: 100%;
  height: auto;
}

.contain1:hover{
    background: red;
}

a {
  color: yellow;
  font-style: normal;
}
