
body {
  position:relative;
  color: white;
  font-size: 30px;
  text-align: center;
  background-color:blue;
  font-family: 'Kanit', sans-serif;
  font-weight: bold;
  justify-content: center;
  margin: 0px;
  overflow: visible;
}

.copy {
  font-size: 10px;
  position: fixed;
  bottom: 10px;
  right: 20px;
  color: white;
  font-style: italic;
  text-align: left;
  z-index: 100;
}

.mezard {
  position: absolute;
  bottom: -20px;
  right: 25px;
  z-index: 155;
  width: 20%;
}

.wizkick1 {
  position: absolute;
  width: 150px;
  top: 50%;
  left: 50%;
  margin-left: -75px;
  margin-top: -75px;
  z-index: 40;
  animation: spinny1 8s infinite linear;
  display: block;
}
.wizkick2 {
  position: absolute;
  width: 300px;
  top: 50%;
  left: 50%;
  margin-left: -150px;
  margin-top: -150px;
  z-index: 40;
  animation: spinny1 8s infinite linear;
  display: block;
}
@keyframes spinny1 {
  from {
  transform: rotate(0deg);
}
to {
  transform: rotate(359deg);
}
}

a {
  color: white;
  font-style: normal;
  font-weight: 300;
  text-decoration: none;
}
a:hover {
  color:orange;
  text-decoration: underline;
}

h1 {
  letter-spacing: 2px;
  font-size: 50px;
  position: absolute;
  top: 43%;
  left: 50%;
  transform: translate(-50%, -50%);
}
p {
  line-height: 1;
  font-size: 40px;
  position: absolute;
  top: 43%;
  left: 50%;
  transform: translate(-50%, -50%);
}

big {font-size: larger;}

.wrapper {
  position: relative;
  height: 100%;
  width: 100%;
  background-color: red;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  overflow: visible;
}

.quad {
  position: relative;
  width:50%;
  height:50vh;
  align-items: center;
  justify-content: center;
  overflow: visible;
}
.quad:hover .overlay {
  opacity: 1;
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background-color: blue;
  overflow: visible;
}

.list {
  color: white;
  font-size: 30px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
  line-height: 1.6;
  overflow: visible;
}


#pop {position: relative;}
#pop a span { display: none; color: #FFFFFF; }
#pop a:hover span { display: block; position: absolute; left: 200px; top:45px; color: #FFFFFF; z-index: 500}

#popEx {position: relative;}
#popEx a span { display: none; color: #FFFFFF; }
#popEx a:hover span { display: block; position: absolute; left: 225px; top:45px; color: #FFFFFF; z-index: 500}

#popPr {position: relative;}
#popPr a span { display: none; color: #FFFFFF; }
#popPr a:hover span { display: block; position: absolute; left: 350px; top:45px; color: #FFFFFF; z-index: 500}


.mobiletitle {
  display: none;
  z-index: -500;
}
.mobiletext {
  display: none;
}

#oop {
  display: block;
}
#mobilespacer {
  position: relative;
  display: none;
  width:50%;
  height:50vh;
  align-items: center;
  justify-content: center;
  overflow: visible;
}
#id {
  display: none;
}
#wiz1 {
  display: none;
}
#wiz2 {
  display: none;
}

::-webkit-scrollbar {
  width: 10px;
}
::-webkit-scrollbar-track {
  background: blue;
}
::-webkit-scrollbar-thumb {
  background: orange;
}
::-webkit-scrollbar-thumb:hover {
  background: turquoise;
}


@media only screen and (max-width: 800px) {

body {
  overflow: auto;
  overflow-x: hidden;
}

/* .wrapper {
  margin-top: 150px;
} */

.copy {
  font-size:5px;
}

.overlay {
  z-index: 100;
  opacity: .8;
}

.quad {
  position: relative;
  width:100%;
  height:50vh;
  max-height: 500px;
}

.list {
  line-height: 1.4;
  padding: 0px;
  margin: 0px;
}

.mobiletitle {
  position: sticky;
  top: 0px;
  display: block;
  z-index: 150;
  height: 50px;
  background-color: orange;
}
.mobiletext {
  background-color: orange;
  display: block;
  z-index: 151;
  font-size: 35px;
  padding-bottom: 20px;
  color: blue;
  line-height: 1;
  padding-top: 10px;
  padding-left: 10px;
  padding-right: 10px;
}

.mezard {
  bottom: -50px;
  width: 25%;
}

#pop a:hover span { display: block; position: absolute; left: 150px; top:45px; color: #FFFFFF; z-index: 500}
#popEx a:hover span { display: block; position: absolute; left: 180px; top:45px; color: #FFFFFF; z-index: 500}
#popPr a:hover span { display: block; position: absolute; left: 250px; top:45px; color: #FFFFFF; z-index: 500}

#oop {
  display: none;
}
#mobilespacer {
  position: relative;
  display: block;
  height:20vh;
  width: 100%;
  align-items: center;
  justify-content: center;
  overflow: visible;
}

#id {
  display:block;
}
#wiz1 {
  display: block;
  position: absolute;
  width: 150px;
  top: 50%;
  left: 50%;
  margin-left: -75px;
  margin-top: -75px;
  z-index: 40;
  animation: spinny1 8s infinite linear;
  display: block;
}
#wiz2 {
  display: block;
  position: absolute;
  width: 300px;
  top: 50%;
  left: 50%;
  margin-left: -150px;
  margin-top: -150px;
  z-index: 40;
  animation: spinny1 8s infinite linear;
  display: block;
}

}
