html {
  scroll-behavior: smooth;
}

body {
  position:relative;
  color: black;
  font-size: 14px;
  line-height: 1.1;
  text-align: center;
  background-color:white;
  font-family: 'Kumbh Sans', sans-serif;
  justify-content: center;
  align-content: center;
  margin: 0px;
  padding: 0px;
  overflow: visible;
  overflow-x: hidden;
}

h1 {
  font-family: 'Alegreya', serif;
  font-size: 20px;
  letter-spacing: 1px;
  color: #2d1841;
  background-color: white;
}
h2 {
  font-family: 'Alegreya', serif;
  font-size: 15px;
  letter-spacing: 1px;
  color:#2d1841;
  line-height: 1.5;
  background-color: white;
}
a {
  color: blue;
  text-decoration: none;
  background-color: white;
}
a:hover {
  color: blue;
  text-decoration: underline;
  background-color: white;
}
p {
  line-height: 1.5;
  background-color: white;
}

#copyright {
  visibility: visible;
  position: absolute;
  bottom:20px;
  right:30px;
  font-size:10px;
  color:white;
  z-index: 100;
  text-align:right;
}

.all {
  position: relative;
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  justify-content:space-between;
}

.navbox {
  position: relative;
  width: 19vw;
  height:100vh;
  left:0px;
  text-align: left;
  background-color: white;
  z-index: 50;
}

#nav {
  position: relative;
  margin: 30px;
  z-index: 100;
}

.back {
  position: absolute;
  width:19%;
  min-width: 170px;
  height:100vh;
  background-color: white;
  z-index: 20;
}

.aboutbox {
  position: absolute;
  margin-left: 10%;
  text-align: left;
  width:80%;
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  top: 20%;
}

.ahtext {
  position: relative;
  width: 90%;
  max-width: 500px;
}

.evilwizard {
  position: relative;
  height: auto;
  margin-left: 30px;
  width: 250px;
  top:-15px;
}

#pop {position: relative;padding-bottom: 10px;}
#pop a span { display: none; color: #FFFFFF; }
#pop a:hover span { display: block; position: absolute; left: 130px; top:0px; color: #FFFFFF; z-index: 900}

.slide {
  position: relative;
  height:100vh;
  width: 80vw;
  right:0px;
}

.mySlides {
  position: absolute;
  height:100%;
  width: 100%;
  display:none;
  background-color: black;
  right:0px;
}

.myCover {
  position: absolute;
  height: 100%;
  width: 100%;
  background-color: #130C60;
  opacity: .2;
  z-index: 10;
  right:0px;
}

.mySlidesM {
  position: absolute;
  height:100%;
  width: 100%;
  display:none;
  background-color: black;
  right:0px;
}

::-webkit-scrollbar {
  width: 10px;
}
::-webkit-scrollbar-track {
  background: white;
}
::-webkit-scrollbar-thumb {
  background: black;
}
::-webkit-scrollbar-thumb:hover {
  background: grey;
}

@media only screen and (min-width: 1700px) {
  .navbox {
  width: 14vw;
  }
  .slide {
    width: 85vw;
  }
  .aboutbox {
    margin-left: 15%;
  }
}

@media only screen and (max-width: 800px) {
  .aboutbox {
    flex-wrap: wrap;
    margin-left: 20%;
  }

  #copyright {
    visibility: hidden;
  }
}
