html {
  scroll-behavior: smooth;
}

body {
  position:relative;
  color: black;
  font-size: 14px;
  line-height: 1.1;
  text-align: center;
  background-color:black;
  font-family: 'Kumbh Sans', sans-serif;
  justify-content: center;
  align-content: center;
  margin: 0px;
  padding: 0px;
  overflow: visible;
  overflow-x: hidden;
}


h1 {
  font-family: 'Texturina', serif;
  font-size: 20px;
  letter-spacing: 1px;
  line-height: 1.4;
  color: white;
}
h2 {
  color: white;
  font-family: 'Texturina', serif;
  padding: 12px;
  font-size: 16px;
  line-height: 1;
  border: none;
  cursor: pointer;
  position:relative;
  top:5px;
  z-index: 10;
  width: 160px;
  text-decoration: none;
}

.ahtext h2 {
  font-family: 'Texturina', serif;
  color:#111549;
  padding: 0px;
  cursor: auto;
  top:0px;
  width:auto;
  background-color: white;
  z-index: 1;
}

.all a {
  text-decoration: none;
  color:white;
}

.ahtext a {
  text-decoration: none;
  color:blue;
}
.ahtext a:hover {
  text-decoration: underline;
  color:blue;
}

p {
  line-height: 1.5;
  background-color: white;
}

#copyright {
  visibility: visible;
  position: absolute;
  bottom:20px;
  width: 100%;
  font-size:10px;
  color:white;
  z-index: 100;
  text-align:center;
  justify-content: center;
}

.all {
  position: relative;
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  justify-content:space-between;
}

.bottombar {
  position: absolute;
  bottom:0px;
  width:100vw;
  background-color: black;
  z-index: 2;
}

.textbox {
  position: relative;
  margin-left: 10vw;
  margin-right: 10vw;
  margin-bottom: 25px;
  margin-top: 20px;
}

.bar {
  position: absolute;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  top:0px;
  width:100vw;
  min-height: 50px;
  background-color: black;
  z-index: 2;
}

/*dropdown section*/

.material-icons.md-18 {
  font-size: 18px;
}

.nav {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  top:0px;
  min-height: 50px;
  width:80vw;
  margin-left: 10vw;
  margin-right: 10vw;
  background-color: black;
  z-index: 3;
}

.dropbox {
  position: relative;
  z-index: 3;
  justify-content:center;
}

.dropbtn {
  background-color: black;
  color: white;
  font-family: 'Texturina', serif;
  padding: 12px;
  font-size: 16px;
  border: none;
  cursor: pointer;
  position:relative;
  z-index: 10;
  width: 160px;
  transition: 0.3s;
}
.dropbtn:hover, .dropbtn:focus {
  background-color: #111549;
}
.dropdown {
  background-color: black;
  position: relative;
  display: inline-block;
}
.dropdown-content {
  display: none;
  position: absolute;
  background-color:black;
  width: 160px;
  top: 50px;
  overflow: auto;
  z-index: 100;
}
.dropdown-content a {
  color: white;
  background-color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;

}
.dropdown a:hover {background-color:#111549;transition: 0.3s;}
.show {display: block;}
/*end dropdown*/
.dropdown-content a:hover {background-color:#111549;}
.dropdown:hover .dropdown-content {display: block;text-decoration: none;color:white;}


.aboutbox {
  position: relative;
  justify-content: center;
  text-align: left;
  width:100%;
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  top: 20vh;
}
.ahtext {
  position: relative;
  width: 90%;
  max-width: 500px;
  margin-left:20px;
  margin-right:20px;
}
.aboutwizard {
  position: relative;
  height: auto;
  margin-left: 30px;
  width: 250px;
  top:-15px;
}



/*background*/
.slide {
  position: relative;
  justify-content: center;
  align-items: center;
  height:100vh;
  width:100vw;
}
.mySlides {
  position: absolute;
  height:100%;
  width:100%;
  background-color: black;
  right:0px;
}
.myCover {
  position: absolute;
  height: 100%;
  width: 100%;
  background-color: #130C60;
  opacity: .2;
  z-index: 1;
  right:0px;
}
/*end background*/

::-webkit-scrollbar {
  width: 10px;
}
::-webkit-scrollbar-track {
  background: white;
}
::-webkit-scrollbar-thumb {
  background: black;
}
::-webkit-scrollbar-thumb:hover {
  background: grey;
}


@media only screen and (max-width: 800px) {
.aboutwizard {
  display:none;
}
  }
}
