@import url('https://fonts.googleapis.com/css?family=Gravitas+One|Ubuntu&display=swap');

body {
  position:relative;
  color: white;
  font-size: 25px;
  text-align: center;
  background-image: linear-gradient(90deg,blue,white,white,white,blue);
  font-family: 'Ubuntu', sans-serif;
}

.main {
  color: white;
  font-size: 25px;
  text-align: center;
  margin-left: 5%;
  margin-right: 5%;
  margin-bottom: 5%;
}

.block {
  position:relative;
  overflow:hidden;
  text-align: center;
  margin: 5%;
  height: auto;
}

.bod {
  margin-left: 10vw;
  margin-right: 10vw;
  background-color:orange;
}

p {
  font-family: 'Ubuntu', sans-serif;
  font-style: italic;
  margin: 20px;
}

h3 {
  font-family: 'Ubuntu', sans-serif;
  font-style: italic;
  font-weight: normal;
  position: relative;
  width: 5%;
  text-align: center;
  align-content: center;
  margin: 20px;
  justify-content: center;
}

.buttan  {
  font-size: 25px;
  display: flex;
  font-family: 'Ubuntu', sans-serif;
  font-style: italic;
  font-weight: normal;
  position: relative;
  width: 400px;
  left: 50%;
  height: 15px;
  margin-left:-200px;
  text-align: center;
  align-content: center;
  justify-content: center;
}

.imageblock {
  height: 500px;
  background-position-x: center;
  background-position-y: center;
  margin-top: 5%;
  background-color: white;
  transform: rotate(0deg);
}

img {
  background-position-x: center;
  background-position-y: center;
  margin-top: 125px;
  transform: rotate(0deg);
  animation-name: spinny1;
  animation-duration: 8s;
  animation-iteration-count: infinite;
}

@keyframes spinny1 {
  0% {transform: rotate(0deg);}
  25% {transform: rotate(90deg);}
  50% {transform: rotate(180deg);}
  75% {transform: rotate(270deg);}
  100% {transform: rotate(360deg);}
}

h1 {
  background-image: linear-gradient(to right, rgba(0, 0, 255, 0), rgba(0, 0, 255, 1) 50%, rgba(0, 0, 255, 0));
  position: sticky;
  font-size: 50px;
  top: 0px;
  width: 100%;
  font-style: normal;
  font-weight: normal;
  align-content: center;
  font-family: 'Gravitas One', cursive;
  font-size: 5vw;
  z-index: 5;
}

#header {
    padding: 1%;
}

.margin20 {
  position:relative;
  height:20px;
}

.contain1 {
  position: relative;
  width: 100%;
  height: auto;
}

a {
  color: orange;
  font-style: normal;
}
