@import url('https://fonts.googleapis.com/css?family=Gravitas+One|Ubuntu&display=swap');

body {
  color: white;
  font-size: 25px;
  text-align: center;
  background-image: linear-gradient(90deg,red,blue,blue,blue,red);
  font-family: 'Ubuntu', sans-serif;
  margin-left: 5%;
  margin-right: 5%;
  margin-bottom: 5%;
}

.image1 {
  background-image: url("images/bg1.png");
  height: 600px;
  background-position-x: center;
  background-position-y: center;
}

.block {
  position:relative;
  overflow:hidden;
  text-align: center;
  margin: 5%;
  height: auto;
}

.bod {
  margin-left: 10vw;
  margin-right: 10vw;
  background-color:blue;
}

p {
  font-family: 'Ubuntu', sans-serif;
  font-style: italic;
  margin: 20px;
}

h1 {
  background-image: linear-gradient(to right, rgba(57, 194, 218, 0), rgba(255, 0, 0, 1) 50%, rgba(57, 194, 218, 0));
  position: sticky;
  font-size: 50px;
  top: 0px;
  width: 100%;
  font-style: normal;
  font-weight: normal;
  align-content: center;
  font-family: 'Gravitas One', cursive;
  font-size: 4vw;
  z-index: 5;
}
#header {
    transition: 0.2s;
    padding: 2%;
}

#dropdown {
    width: 100%;
    height: auto;
    padding-top: 10px;
    text-align: center;
}

.contain1 {
  position: relative;
  width: 100%;
  height: auto;
}


a {
  color: yellow;
  font-style: normal;
}
