

body {
    position:relative;
    font-family: sans-serif;
    font-size: 30px;
    color: blue;
    text-align: center;
    background: white;
    font-family: 'Courier', sans-serif;
    padding: 5%;
    overflow-x: hidden;
}

a {
  font-style: normal;
  text-decoration: none;
}

p {
}

img {
  margin-top: -50px;
}

.clickthru {
  position: relative;
  text-align: center;
  width: 500px;
  height: auto;
  padding: 5px;
  left: 50%;
  margin-left: -250px;
  background: orange;
}

.animhead {
  transform: rotate(0deg);
  animation-name: heady;
  animation-duration: 1s;
  animation-iteration-count: infinite;
  z-index: -5;
}
@keyframes heady {
  0% {transform: rotate(0deg);}
  50% {transform: rotate(5deg);}
  100% {transform: rotate(0deg);}
}

.animwave {
  position: absolute;
  margin-left: -120px;
  margin-top: 30px;
  width: 400px;
  transform: rotate(0deg);
  animation-name: wave;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  transform-origin: bottom left;
  z-index: -2;
}
@keyframes wave {
  0% {transform: rotate(-20deg) ;}
  50% {transform: rotate(20deg) ;}
  100% {transform: rotate(-20deg) ;}
}

.animhead2 {
  animation-name: heady2;
  animation-duration: 1s;
  animation-iteration-count: infinite;
  z-index: -5;
  animation-timing-function: ease-in-out;
}
@keyframes heady2 {
  0% {transform: scaleY(1); }
  50% {transform: scaleY(.9); }
  100% {transform: scaleY(1); }
}

.animwave2 {
  position: absolute;
  width: 400px;
  margin-top: -50px;
  margin-left: -200px;
  transform: rotate(0deg);
  animation: linear infinite;
  animation-name: wack;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  transform-origin: bottom;
  z-index: -2;
  animation-timing-function: ease-in-out;
}
@keyframes wack {
  0% {transform: rotate(-30deg); margin-left:-500px; top:90px;}
  50% {transform: rotate(10deg); margin-left:-450px; top:90px;}
  100% {transform:rotate(-30deg); margin-left:-500px; top:90px;}
}

.cards {
  position: absolute;
  width: 100px;
  margin-top: 0px;
  margin-left: 200px;
  transform: rotate(0deg);
  animation-name: cardspin;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  z-index: -5;
  animation-timing-function: ease-in-out;
}
@keyframes cardspin {
  0% {transform: rotateY(0deg); top:90px;}
  50% {transform: rotateY(180deg); top:90px;}
  100% {transform:rotateY(0deg);  top:90px;}
}

.animhead3 {
  position: relative;
  transform: rotate(0deg);
  animation-name: heady3;
  animation-duration: 1s;
  animation-iteration-count: infinite;
  margin-left: -200px;
  z-index: -5;
}
@keyframes heady3 {
  0% {transform: rotate(0deg);}
  50% {transform: rotate(5deg);}
  100% {transform: rotate(0deg);}
}

.cardwave {
  position: absolute;
  width:150px;
  margin-top: 0px;
  margin-left: 0px;
  transform: rotate(0deg);
  animation-name: cardwave;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  z-index: -5;
  animation-timing-function: ease-in-out;
}
@keyframes cardwave {
  0% {transform: rotateY(0deg); top:90px;}
  50% {transform: rotateY(180deg); top:90px;}
  100% {transform:rotateY(0deg);  top:90px;}
}

.animwave3 {
  position: absolute;
  margin-top: 400px;
  transform: rotate(180deg);
  animation: linear infinite;
  animation-name: wack;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  transform-origin: top;
  z-index: -2;
  animation-timing-function: ease-in-out;
}
@keyframes wack {
  0% {transform: rotate(160deg); margin-left:-390px; top:90px;}
  50% {transform: rotate(180deg); margin-left:-330px; top:90px;}
  100% {transform:rotate(160deg); margin-left:-390px; top:90px;}
}
